In [1]:
import pandas as pd

# Series

In [2]:
data = [1,2,3,4,5]

In [3]:
serie = pd.Series(data)

In [4]:
serie

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
serie.index = [f'Linha {i}' for i in range(serie.len(serie)]

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (<ipython-input-5-6ee525f84925>, line 1)

In [6]:
serie.index = [f'Linha {i}' for i in range(len(series))]

NameError: name 'series' is not defined

In [7]:
serie.index = [f'Linha {i}' for i in range(len(serie))]

In [8]:
serie

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

In [9]:
dict = {f'Linha {i}': i + 1 for i in range(5)}

In [10]:
dict

{'Linha 0': 1, 'Linha 1': 2, 'Linha 2': 3, 'Linha 3': 4, 'Linha 4': 5}

In [11]:
serie1 = pd.Series(dict)

In [12]:
serie1

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

In [13]:
serie2 = serie + 2

In [14]:
serie2

Linha 0    3
Linha 1    4
Linha 2    5
Linha 3    6
Linha 4    7
dtype: int64

# DataFrames

In [15]:
lista = [[1,2,3],
         [1,2,3],
         [1,2,3]]
lista

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [16]:
df1 = pd.DataFrame(lista)
df1

   0  1  2
0  1  2  3
1  1  2  3
2  1  2  3

In [17]:
index = [f'Linha {i}' for i in range(len(lista))]
index

['Linha 0', 'Linha 1', 'Linha 2']

In [18]:
columns = [f'Column {i}' for i in range(len(lista))]
columns

['Column 0', 'Column 1', 'Column 2']

In [19]:
df1 = pd.DataFrame(lista,index,columns)
df1

         Column 0  Column 1  Column 2
Linha 0         1         2         3
Linha 1         1         2         3
Linha 2         1         2         3

In [20]:
dict1= {f'Coluna {i}': {f'Linha {j}': j for j in range(3)} for i in range(3)}
dict1

{'Coluna 0': {'Linha 0': 0, 'Linha 1': 1, 'Linha 2': 2},
 'Coluna 1': {'Linha 0': 0, 'Linha 1': 1, 'Linha 2': 2},
 'Coluna 2': {'Linha 0': 0, 'Linha 1': 1, 'Linha 2': 2}}

In [21]:
df2 = pd.DataFrame(dict1)
df2

         Coluna 0  Coluna 1  Coluna 2
Linha 0         0         0         0
Linha 1         1         1         1
Linha 2         2         2         2

In [22]:
df1[df1>1] = A
df1

NameError: name 'A' is not defined

In [23]:
df1[df1>1] = "A"
df1

         Column 0 Column 1 Column 2
Linha 0         1        A        A
Linha 1         1        A        A
Linha 2         1        A        A

In [24]:
df1[df1>0] = "A"
df1

TypeError: '>' not supported between instances of 'str' and 'int'

In [25]:
df2[df2>0] = "B"
df2

        Coluna 0 Coluna 1 Coluna 2
Linha 0        0        0        0
Linha 1        B        B        B
Linha 2        B        B        B

In [26]:
df4.concat([df1,df2])
df4

NameError: name 'df4' is not defined

In [28]:
df4 = pd.concat([df1,df2], axis=1)
df4

         Column 0 Column 1 Column 2 Coluna 0 Coluna 1 Coluna 2
Linha 0         1        A        A        0        0        0
Linha 1         1        A        A        B        B        B
Linha 2         1        A        A        B        B        B