In [2]:
import pandas as pd

In [3]:
json = open("dados/aluguel.json")
print(json.read())

[{"Tipo":"Quitinete","Bairro":"Copacabana","Quartos":1,"Vagas":0,"Suites":0,"Area":40,"Valor":1700.0,"Condominio":500.0,"IPTU":60.0},
{"Tipo":"Casa","Bairro":"Jardim Bot\u00e2nico","Quartos":2,"Vagas":0,"Suites":1,"Area":100,"Valor":7000.0,"Condominio":null,"IPTU":null},
{"Tipo":"Conjunto Comercial\/Sala","Bairro":"Barra da Tijuca","Quartos":0,"Vagas":4,"Suites":0,"Area":150,"Valor":5200.0,"Condominio":4020.0,"IPTU":1111.0},
{"Tipo":"Apartamento","Bairro":"Centro","Quartos":1,"Vagas":0,"Suites":0,"Area":15,"Valor":800.0,"Condominio":390.0,"IPTU":20.0},
{"Tipo":"Apartamento","Bairro":"Higien\u00f3polis","Quartos":1,"Vagas":0,"Suites":0,"Area":48,"Valor":800.0,"Condominio":230.0,"IPTU":null},
{"Tipo":"Apartamento","Bairro":"Vista Alegre","Quartos":3,"Vagas":1,"Suites":0,"Area":70,"Valor":1200.0,"Condominio":null,"IPTU":null},
{"Tipo":"Apartamento","Bairro":"Cachambi","Quartos":2,"Vagas":0,"Suites":0,"Area":50,"Valor":1300.0,"Condominio":301.0,"IPTU":17.0},
{"Tipo":"Casa de Condom\u00ednio","Bairro":"Barra da Tijuca","Quartos":5,"Vagas":4,"Suites":5,"Area":750,"Valor":22000.0,"Condominio":null,"IPTU":null},
{"Tipo":"Casa de Condom\u00ednio","Bairro":"Ramos","Quartos":2,"Vagas":2,"Suites":0,"Area":65,"Valor":1000.0,"Condominio":null,"IPTU":null},
{"Tipo":"Conjunto Comercial\/Sala","Bairro":"Centro","Quartos":0,"Vagas":3,"Suites":0,"Area":695,"Valor":35000.0,"Condominio":19193.0,"IPTU":3030.0}]

In [4]:
df_json = pd.read("dados/aluguel.json")
df_json

AttributeError: module 'pandas' has no attribute 'read'

In [6]:
df_json = pd.read_json("dados/aluguel.json")

In [7]:
df_json

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000,19193.0,3030.0

In [8]:
df_txt = pd.read_table("dados/aluguel.txt")
df_txt

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000,19193.0,3030.0

In [9]:
df_xlsx = pd.read_excel("dados/aluguel.xlsx")
df_xlsx

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000,19193.0,3030.0

In [10]:
df_html = pd.read_html("dados/dados_html_1.html")
df_html

[  FAIXA ETÁRIA UNAFISCO SAÚDE SOFT II SOFT PARTICIPATIVO      UNIQUE
 0      00 A 18               R$218,99           R$192,60    R$334,48
 1      19 A 23               R$263,63           R$207,67    R$380,06
 2      24 A 28               R$322,44           R$224,26    R$464,39
 3      29 A 33               R$402,05           R$258,63    R$566,68
 4      34 A 38               R$455,17           R$306,37    R$664,61
 5      39 A 43               R$489,29           R$417,93    R$742,72
 6      44 A 48               R$582,65           R$495,24    R$869,47
 7      49 A 53               R$718,86           R$562,64  R$1.046,29
 8      54 A 58               R$908,54           R$721,00  R$1.355,74
 9   59 OU MAIS             R$1.244,50         R$1.151,62  R$2.003,53]

In [ ]:
!conda info --envs

In [ ]:
!conda list

In [5]:
df_xlsx = pd.read_excel("dados/aluguel.xlsx")
df_xlsx

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000,19193.0,3030.0

In [11]:
df_html[0]

  FAIXA ETÁRIA UNAFISCO SAÚDE SOFT II SOFT PARTICIPATIVO      UNIQUE
0      00 A 18               R$218,99           R$192,60    R$334,48
1      19 A 23               R$263,63           R$207,67    R$380,06
2      24 A 28               R$322,44           R$224,26    R$464,39
3      29 A 33               R$402,05           R$258,63    R$566,68
4      34 A 38               R$455,17           R$306,37    R$664,61
5      39 A 43               R$489,29           R$417,93    R$742,72
6      44 A 48               R$582,65           R$495,24    R$869,47
7      49 A 53               R$718,86           R$562,64  R$1.046,29
8      54 A 58               R$908,54           R$721,00  R$1.355,74
9   59 OU MAIS             R$1.244,50         R$1.151,62  R$2.003,53

In [12]:
df_html = pd.read_html("https://unafiscosaude.org.br/site/comparativo-de-planos/")
df_html

[         NOME COMERCIAL PLANO >>  \
 0                   Registro ANS
 1          Situação do Plano ANS
 2            Tipo de Contratação
 3       Segmentação Assistencial
 4                    Odontologia
 5   Livre escolha de prestadores
 6                    Abrangência
 7           Padrão de acomodação
 8                 Coparticipação
 9                      Cobertura
 10       Principais diferenciais
 11       Principais diferenciais
 12       Principais diferenciais
 13       Principais diferenciais
 14       Principais diferenciais
 15       Principais diferenciais
 16       Principais diferenciais
 17       Principais diferenciais
 18       Principais diferenciais
 19       Principais diferenciais
 20       Principais diferenciais
 21       Principais diferenciais
 22       Principais diferenciais

                                               SOFT II  \
 0                                       Nº. 471839149
 1                                               Ativo
 2                                 Coletivo por adesão
 3          "Ambulatorial + Hospitalar com Obstetrícia
 4                                                 Não
 5                                                 Não
 6                                            Nacional
 7           Aptº.privativo com direito a acompanhante
 8                                                 Não
 9   Limitada ao Rol periodicamente atualizado pela...
 10  >> Gestão participativa (Os beneficiários infl...
 11  >> Histórico de reajustes das mensalidades aba...
 12  >> Demandas de atendimento disponibilizadas em...
 13  >> Ampla rede credenciada por intermédio de só...
 14         __________________________________________
 15         __________________________________________
 16         __________________________________________
 17         __________________________________________
 18         __________________________________________
 19         __________________________________________
 20         __________________________________________
 21         __________________________________________
 22         __________________________________________

                                    SOFT PARTICIPATIVO  \
 0                                       Nº. 478132175
 1                                               Ativo
 2                                 Coletivo por adesão
 3          "Ambulatorial + Hospitalar com Obstetrícia
 4                                                 Não
 5                                                 Não
 6                                            Nacional
 7           Aptº.privativo com direito a acompanhante
 8                                                 Sim
 9   Limitada ao Rol periodicamente atualizado pela...
 10  >> Gestão participativa (Os beneficiários infl...
 11  >> Histórico de reajustes das mensalidades aba...
 12  >> Demandas de atendimento disponibilizadas em...
 13  >> Ampla rede credenciada por intermédio de só...
 14         __________________________________________
 15         __________________________________________
 16         __________________________________________
 17         __________________________________________
 18         __________________________________________
 19         __________________________________________
 20         __________________________________________
 21         __________________________________________
 22         __________________________________________

                                                UNIQUE  \
 0                                       Nº. 478131177
 1                                               Ativo
 2                                 Coletivo por adesão
 3   "Ambulatorial + Hospitalar com Obstetrícia + O...
 4                                                 Sim
 5   Reembolso conforme valores – Referencial de Ho...
 6                                            Nacional
 7           Aptº.privativo com direito a acompanhante
 8                                                 Sim
 9   Limitada ao Rol periodicamente atualizado pela...
 10  >> Gestão participativa (Os beneficiários infl...
 11  >> Histórico de reajustes das mensalidades aba...
 12  >> Demandas de atendimento disponibilizadas em...
 13  >> Ampla rede credenciada por intermédio de só...
 14  >> Vários hospitais de ponta (Exs: Hospital Ba...
 15         __________________________________________
 16         __________________________________________
 17         __________________________________________
 18         __________________________________________
 19         __________________________________________
 20         __________________________________________
 21         __________________________________________
 22         __________________________________________

                                            PREMIUM II
 0                                       Nº. 468235121
 1                                               Ativo
 2                                 Coletivo por adesão
 3   "Ambulatorial + Hospitalar com Obstetrícia + O...
 4                                                 Sim
 5   Reembolso conforme valores – Referencial de Ho...
 6                                            Nacional
 7           Aptº.privativo com direito a acompanhante
 8                                                 Não
 9   Cerca de 380 procedimentos médicos além do Rol...
 10  >> Gestão participativa (Os beneficiários infl...
 11  >> Histórico de reajustes das mensalidades aba...
 12  >> Demandas de atendimento disponibilizadas em...
 13  >> Ampla rede credenciada por intermédio de só...
 14  >> Acesso à rede hospitalar de ponta (com alta...
 15  Ampla rede credenciada por intermédio de sólid...
 16         __________________________________________
 17         __________________________________________
 18         __________________________________________
 19         __________________________________________
 20         __________________________________________
 21         __________________________________________
 22         __________________________________________  ,
   FAIXA ETÁRIA      SOFT II       UNIQUE SOFT PARTICIPATIVO   PREMIUM II
 0      00 a 18    R$ 251,41    R$ 361,42          R$ 208,11    R$ 549,96
 1      19 a 23    R$ 302,68    R$ 410,67          R$ 224,39    R$ 624,93
 2      24 a 28    R$ 370,20    R$ 501,79          R$ 242,32    R$ 763,58
 3      29 a 33    R$ 461,60    R$ 612,32          R$ 279,46    R$ 931,75
 4      34 a 38    R$ 522,59    R$ 718,14          R$ 331,05  R$ 1.024,93
 5      39 a 43    R$ 561,75    R$ 802,54          R$ 451,59  R$ 1.145,38
 6      44 a 48    R$ 668,94    R$ 939,50          R$ 535,13  R$ 1.340,82
 7      49 a 53    R$ 825,34  R$ 1.130,56          R$ 607,96  R$ 1.613,50
 8      54 a 58  R$ 1.043,10  R$ 1.464,94          R$ 779,07  R$ 2.090,74
 9   59 ou mais  R$ 1.428,83  R$ 2.164,90        R$ 1.244,38  R$ 3.261,12,
    VIGÊNCIA AGOSTO/2020              VIGÊNCIA AGOSTO/2020.1  \
 0          Faixa Etária  Titulares, Dependentes e agregados
 1               00 a 18                           R$ 251,41
 2               19 a 23                           R$ 302,68
 3               24 a 28                           R$ 370,20
 4               29 a 33                           R$ 461,60
 5               34 a 38                           R$ 522,59
 6               39 a 43                           R$ 561,75
 7               44 a 48                           R$ 668,94
 8               49 a 53                           R$ 825,34
 9               54 a 58                         R$ 1.043,10
 10           59 ou mais                         R$ 1.428,83

     VIGÊNCIA AGOSTO/2020.2
 0                      NaN
 1                      NaN
 2                      NaN
 3                      NaN
 4                      NaN
 5                      NaN
 6                      NaN
 7                      NaN
 8                      NaN
 9                      NaN
 10                     NaN  ,
    VIGÊNCIA AGOSTO/2020               VIGÊNCIA AGOSTO/2020.1
 0          Faixa Etária  Titulares e Dependentes e agregados
 1               00 a 18                            R$ 361,42
 2               19 a 23                            R$ 410,67
 3               24 a 28                            R$ 501,79
 4               29 a 33                            R$ 612,32
 5               34 a 38                            R$ 718,14
 6               39 a 43                            R$ 802,54
 7               44 a 48                            R$ 939,50
 8               49 a 53                          R$ 1.130,56
 9               54 a 58                          R$ 1.464,94
 10           59 ou mais                          R$ 2.164,90,
    VIGÊNCIA AGOSTO/2020               VIGÊNCIA AGOSTO/2020.1
 0          Faixa Etária  Titulares e Dependentes e agregados
 1               00 a 18                            R$ 208,11
 2               19 a 23                            R$ 224,39
 3               24 a 28                            R$ 242,32
 4               29 a 33                            R$ 279,46
 5               34 a 38                            R$ 331,05
 6               39 a 43                            R$ 451,59
 7               44 a 48                            R$ 535,13
 8               49 a 53                            R$ 607,96
 9               54 a 58                            R$ 779,07
 10           59 ou mais                          R$ 1.244,38,
    VIGÊNCIA AGOSTO/2020               VIGÊNCIA AGOSTO/2020.1
 0          Faixa Etária  Titulares e Dependentes e agregados
 1               00 a 18                                54996
 2               19 a 23                                62493
 3               24 a 28                                76358
 4               29 a 33                                93175
 5               34 a 38                              1.02493
 6               39 a 43                              1.14538
 7               44 a 48                              1.34082
 8               49 a 53                              1.61350
 9               54 a 58                              2.09074
 10           59 ou mais                              3.26112]

In [13]:
df_html[0]

,NOME COMERCIAL PLANO >>,SOFT II,SOFT PARTICIPATIVO,UNIQUE,PREMIUM II
0,Registro ANS,Nº. 471839149,Nº. 478132175,Nº. 478131177,Nº. 468235121
1,Situação do Plano ANS,Ativo,Ativo,Ativo,Ativo
2,Tipo de Contratação,Coletivo por adesão,Coletivo por adesão,Coletivo por adesão,Coletivo por adesão
3,Segmentação Assistencial,"""Ambulatorial + Hospitalar com Obstetrícia","""Ambulatorial + Hospitalar com Obstetrícia","""Ambulatorial + Hospitalar com Obstetrícia + O...","""Ambulatorial + Hospitalar com Obstetrícia + O..."
4,Odontologia,Não,Não,Sim,Sim
5,Livre escolha de prestadores,Não,Não,Reembolso conforme valores – Referencial de Ho...,Reembolso conforme valores – Referencial de Ho...
6,Abrangência,Nacional,Nacional,Nacional,Nacional
7,Padrão de acomodação,Aptº.privativo com direito a acompanhante,Aptº.privativo com direito a acompanhante,Aptº.privativo com direito a acompanhante,Aptº.privativo com direito a acompanhante
8,Coparticipação,Não,Sim,Sim,Não
9,Cobertura,Limitada ao Rol periodicamente atualizado pela...,Limitada ao Rol periodicamente atualizado pela...,Limitada ao Rol periodicamente atualizado pela...,Cerca de 380 procedimentos médicos além do Rol...
10,Principais diferenciais,>> Gestão participativa (Os beneficiários infl...,>> Gestão participativa (Os beneficiários infl...,>> Gestão participativa (Os beneficiários infl...,>> Gestão participativa (Os beneficiários infl...
11,Principais diferenciais,>> Histórico de reajustes das mensalidades aba...,>> Histórico de reajustes das mensalidades aba...,>> Histórico de reajustes das mensalidades aba...,>> Histórico de reajustes das mensalidades aba...
12,Principais diferenciais,>> Demandas de atendimento disponibilizadas em...,>> Demandas de atendimento disponibilizadas em...,>> Demandas de atendimento disponibilizadas em...,>> Demandas de atendimento disponibilizadas em...
13,Principais diferenciais,>> Ampla rede credenciada por intermédio de só...,>> Ampla rede credenciada por intermédio de só...,>> Ampla rede credenciada por intermédio de só...,>> Ampla rede credenciada por intermédio de só...
14,Principais diferenciais,__________________________________________,__________________________________________,>> Vários hospitais de ponta (Exs: Hospital Ba...,>> Acesso à rede hospitalar de ponta (com alta...
15,Principais diferenciais,__________________________________________,__________________________________________,__________________________________________,Ampla rede credenciada por intermédio de sólid...
16,Principais diferenciais,__________________________________________,__________________________________________,__________________________________________,__________________________________________
17,Principais diferenciais,__________________________________________,__________________________________________,__________________________________________,__________________________________________
18,Principais diferenciais,__________________________________________,__________________________________________,__________________________________________,__________________________________________
19,Principais diferenciais,__________________________________________,__________________________________________,__________________________________________,__________________________________________
20,Principais diferenciais,__________________________________________,__________________________________________,__________________________________________,__________________________________________
21,Principais diferenciais,__________________________________________,__________________________________________,__________________________________________,__________________________________________
22,Principais diferenciais,__________________________________________,__________________________________________,__________________________________________,__________________________________________

In [14]:
df_html[1]

  FAIXA ETÁRIA      SOFT II       UNIQUE SOFT PARTICIPATIVO   PREMIUM II
0      00 a 18    R$ 251,41    R$ 361,42          R$ 208,11    R$ 549,96
1      19 a 23    R$ 302,68    R$ 410,67          R$ 224,39    R$ 624,93
2      24 a 28    R$ 370,20    R$ 501,79          R$ 242,32    R$ 763,58
3      29 a 33    R$ 461,60    R$ 612,32          R$ 279,46    R$ 931,75
4      34 a 38    R$ 522,59    R$ 718,14          R$ 331,05  R$ 1.024,93
5      39 a 43    R$ 561,75    R$ 802,54          R$ 451,59  R$ 1.145,38
6      44 a 48    R$ 668,94    R$ 939,50          R$ 535,13  R$ 1.340,82
7      49 a 53    R$ 825,34  R$ 1.130,56          R$ 607,96  R$ 1.613,50
8      54 a 58  R$ 1.043,10  R$ 1.464,94          R$ 779,07  R$ 2.090,74
9   59 ou mais  R$ 1.428,83  R$ 2.164,90        R$ 1.244,38  R$ 3.261,12

In [15]:
df_html[2]

,VIGÊNCIA AGOSTO/2020,VIGÊNCIA AGOSTO/2020.1,VIGÊNCIA AGOSTO/2020.2
0,Faixa Etária,"Titulares, Dependentes e agregados",NaN
1,00 a 18,"R$ 251,41",NaN
2,19 a 23,"R$ 302,68",NaN
3,24 a 28,"R$ 370,20",NaN
4,29 a 33,"R$ 461,60",NaN
5,34 a 38,"R$ 522,59",NaN
6,39 a 43,"R$ 561,75",NaN
7,44 a 48,"R$ 668,94",NaN
8,49 a 53,"R$ 825,34",NaN
9,54 a 58,"R$ 1.043,10",NaN
10,59 ou mais,"R$ 1.428,83",NaN

In [16]:
len(df_html)

6